streamlit
openai
nltk
pypdf
python-dotenv
llama-index
llama-index-agent-openai
llama-index-core
llama-index-embeddings-openai
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
PyPDF2